@import 'mixins';
@import 'variables';
@import 'styles/fonts/roboto';
@import 'styles/fonts/roboto-mono';
@import 'styles/fonts/montserrat';

@import 'reset';
@import 'basics';
@import 'containers';
@import 'lists';
@import 'modal';
@import 'footer';
@import 'compact_header';
@import 'widgets';
@import 'forms';
@import 'accounts';
@import 'statuses';
@import 'components/index';
@import 'polls';
@import 'about';
@import 'tables';
@import 'admin';
@import 'accessibility';
@import 'rtl';
@import 'dashboard';

@import 'monsterfork/index';

.status__content {
	overflow: visible !important;
}
p > .emojione:hover, .status__content__text > .emojione:hover {
	transform: scale(3);
	transition: transform .2s;
}
