.status__edit-notice, .status__unpublished-notice {
  margin-bottom: 1em;

  & > span {
    color: $dark-text-color;
    line-height: normal;
    font-style: italic;
    font-size: 12px;
    padding-left: 8px;
    position: relative;
    bottom: 0.25em;
  }

  & > i {
    color: lighten($dark-text-color, 4%);
  }
}

.status, .detailed-status {
  &.unpublished {
    background: darken($ui-base-color, 4%);

    &:focus {
      background: lighten($ui-base-color, 4%);
    }
  }
}

div[data-nest-level] {
  border-style: solid;
}

@for $i from 0 through 15 {
  div[data-nest-level="#{$i}"] {
    border-left-width: #{$i * 5}px;
    border-left-color: darken($ui-base-color, 8%);
  }
}

div[data-nest-deep="true"] {
  border-left-width: 75px;
  border-left-color: darken($ui-base-color, 8%);
}

.status__content {
  .status__content__text,
  .e-content {
    img {
      max-width: 100%;
      margin: 1em auto;
    }
  }
}
