.public-account-header{:class => ("inactive" if account.moved?)}
  .public-account-header__image
    = image_tag (current_account&.user&.setting_auto_play_gif ? account.header_original_url : account.header_static_url), class: 'parallax'
  .public-account-header__bar
    = link_to short_account_url(account), class: 'avatar' do
      = image_tag (current_account&.user&.setting_auto_play_gif ? account.avatar_original_url : account.avatar_static_url), id: 'profile_page_avatar', data: {original: full_asset_url(account.avatar_original_url), static: full_asset_url(account.avatar_static_url), autoplay: current_account&.user&.setting_auto_play_gif}
    .public-account-header__tabs
      .public-account-header__tabs__name
        %h1
          = display_name(account, custom_emojify: true)
          %small
            = acct(account)
            = fa_icon('lock') if account.locked?
      .public-account-header__tabs__tabs
        .details-counters
          .counter{ class: active_nav_class(short_account_url(account), short_account_with_replies_url(account), short_account_media_url(account)) }
            = link_to short_account_url(account), class: 'u-url u-uid', title: number_with_delimiter(account.statuses_count) do
              %span.counter-label= t('accounts.posts', count: account.statuses_count)

          .counter{ class: active_nav_class(account_following_index_url(account)) }
            = link_to account_following_index_url(account), title: number_with_delimiter(account.following_count) do
              %span.counter-label= t('accounts.following', count: account.following_count)

          .counter{ class: active_nav_class(account_followers_url(account)) }
            = link_to account_followers_url(account), title: hide_followers_count?(account) ? nil : number_with_delimiter(account.followers_count) do
              %span.counter-label= t('accounts.followers', count: account.followers_count)
        .spacer
        .public-account-header__tabs__tabs__buttons
          = account_action_button(account)

    .public-account-header__extra
      = render 'accounts/bio', account: account

      .public-account-header__extra__links
        = link_to account_following_index_url(account) do
          %strong= number_to_human account.following_count, strip_insignificant_zeros: true
          = t('accounts.following', count: account.following_count)
        = link_to account_followers_url(account) do
          %strong= hide_followers_count?(account) ? '-' : (number_to_human account.followers_count, strip_insignificant_zeros: true)
          = t('accounts.followers', count: account.followers_count)
